"""Mock file without version symbol"""
from foo import bar, baz

class Foo:
    bar = bar
    baz = baz

    def __init__(self)
        self.barbaz = [bar, baz]

if __name__ == "__main__":
    bar(Foo().barbaz)

